
*{
  font-family:'IM fell English', serif;
  margin: 0px;
}


/*Agregamos la class al lado de body con un punto y el 2do fondo */
body {
  background-image: url("fondopagina.jpg");
}


/* PAG 2 */
.filtersBackground {
  background-image: url("hpsegundo.jpg");
  /* background-size: cover cover; */
}


.welcome {
 font-style:'IM fell English', serif;
  margin: 0px;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  }


.inicio {
  color: black;
  align-content:center;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  margin: 0px;
  font-family: IM FELL English SC;
}

@media screen and (max-width: 300px){
  .inicio{
    background-size: 60vw;
  }}

.rayo {
  height: 100px;
  align-content:center;
  align-items:center;
  margin: 0px;
}

.lentes {
  height: 100px;
  align-content:center;
  align-items:center;
  margin: 0px;
}

.titulo {
  font-size: 3em;
}

@media screen and (max-width: 400px) {
  .titulo{
    font-size: 2em;
  }}

.textoInicio {
  font-size: 2em;
  margin-bottom: 40px;
  font-style: 'IM FELL English', SC;
}

@media screen and (max-width: 400px) {
  .textoInicio{
    font-size: 1.5em;
  }}

.textoJuro {
  font-size: 1.5em;
  margin-bottom: 40px;
  margin-bottom: 40px;
  font-style: 'IM fell English', SC;
}

@media screen and (max-width: 400px) {
  .textoJuro{
    font-size: 1.5em;
    width: 60vw;
  }}



/* PAG 2 */

@media screen and (max-width: 400px) {
  .filtersBackground{
    margin: auto;
  }}

.main {
  display: flex;
  align-content: center;
  max-width: max-content;
}

.header {
  text-align: center;
  font-size: 1em;
    /* width: 100vw; */
}

@media screen and (max-width: 400px) {
  .header{
    text-align: center;
    font-size: 1em;
  }}


.title2 {
  text-align: center;
  font-size: em;
}

.rayo2 {
  height:70px;
  align-content:center;
  align-items:center;
  margin: 0px;
}
.lentes2 {
  height: 70px;
  align-content:center;
  align-items:center;
  margin: 0px;
}


.row {
  width:90%;
  max-width: 90%;
  padding: 10px;
display: grid;
text-align:center;
/* Genera cantidad de columnas  */
grid-gap:20px;
/* justify-content: center; */
margin:0 auto;
}


#selectEnter {
    display: block;
    cursor: pointer;
  font-family: 'IM Fell English SC';
    background-color:rgb(114, 48, 48);
    color: black;
    font-size: 24px;
    border: 1px solid rgb(68, 56, 56);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    width:max-content;
    box-shadow: 0px 8px 16px 0px rgba(56, 51, 51, 0.795);
    padding: 10px 20px;
}



/* Pag 2 */
.dropdown {
  position: relative;
justify-items: center;
}

.dropbtn {
  background-color: rgb(165, 88, 88);
  color: rgb(0, 0, 0);
  box-shadow: 0px 8px 16px 0px rgba(56, 51, 51, 0.795);
  text-align:center;
  padding: 12px;
/* max-width: fit-content; */
  font-size: 18px;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}

.dropdown-content {
  display:grid;
  text-align:center;
  display: none;
  position: absolute;
  background-color: #b85555;
  box-shadow: 0px 8px 16px 0px rgba(182, 132, 130, 0.795);
  color: rgb(0, 0, 0);
  z-index: 1;
  border-radius: 6px;
  padding: 10px;
cursor: pointer;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
  display: block;
  justify-content: center;
margin:0;
max-width: max-content;
cursor: pointer;
}

.dropdown-content a:hover {background-color: rgb(145, 110, 110);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(170, 97, 97);}

#selectEnter:hover {background-color: rgb(58, 25, 36);}
#backBtn:hover {background-color: rgb(134, 80, 76);};




/*
#alphabeticaOrder{
  background-color: rgba(119, 97, 96, 0.651);
  padding: 8px;
  border-radius: 6px;
  display:grid;
  color:rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  font-size: 16px;
  font-style: bold;
  border-radius: 6px;

} */


/* .select {
  background-color: rgba(119, 97, 96, 0.651);
  padding: 8px;
  border-radius: 6px;
  display:grid;
  color:rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  font-size: 16px;
  font-style: bold;
  border-radius: 6px;
} */



 #search {
  text-align: center;
  max-width: max-content;
  display: flex;
  align-content: center;
  padding-left: 20px;
}

.searchInput {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-size: 14px;
  font-style: bold;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  max-width: 20%: ;
}

@media screen and (max-width: 400px) {
  .searchInput {

    font-size: 14px;
    text-align: center;
    padding: 6px 2px;
  }
}

.icon {
  background-color: rgb(255, 255, 255);
  color: rgb#524120;
  margin-top: 2px;
 border-radius: 4px;
}

.orderBtn{
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-size: 14px;
  font-style: bold;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
}

.back {
  text-align: center;
  max-width: max-content;
  display: flex;
  align-content: center;
  padding-left: 20px;
}

.backButton {
  background-color:rgb(119, 97, 96, 09);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.795);
  color:#000000;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
  max-width: max-content;

}




/* Resultados */

.row.filters {
  grid-template-columns: repeat(auto-fit, minmax(0,200px));
   width: 90%;
    padding: 10px;
    display: grid;
    text-align: center;
    grid-gap: 30px;
    justify-content: center;
    margin: 0 auto;

}
@media screen and (max-width: 400px) {
  .row.filters{
    grid-template-columns: auto;
    padding: 10px;
    display: grid;
    text-align: center;
    grid-gap: 20px;
    justify-content: center;
    margin: 0 auto;

  }}



.row.actions {
  grid-template-columns: repeat(auto-fit, minmax(0,1fr));

}




.row.results {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 400px) {
  .row.results{
    grid-template-columns: 1fr 1fr;
  }}

  @media screen and (max-width: 400px) {
    .row.results{
      grid-template-columns: 1fr 1fr;
    }}




  /* .action {
    padding: 0px;
  display:grid;
  } */


.card {
  border-radius: 6px;
   max-width: 250px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.portrait {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.characterName {
  position: absolute;
  bottom: 0;
  left: 0;
  background:rgba(0,0,0,0.7);
  color: white;
  display: grid;
  grid-gap: 0px;
  width: 100%;
  text-align: center center;
  padding: 10px 10px;
  font-size: 14px;
}


.characterDetails {
    opacity: 0;
    font-family: IM FELL English SC;
    position: absolute;
    padding-top:15px;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    transition: .4s;
    text-align: center;
  }


.characterDetails:hover {
  opacity: 100;
}

.characterDetailsList {
  background: url(rayitolonely.png);
  background-size: 100%;
 bottom: auto;
 font-size: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  list-style: none;
  padding: 6px;


.characterDetailsList li {
  white-space: nowrap;
  padding: 2px 0;
}

